altgraph
annotated-types
colorama
et_xmlfile
iniconfig
MouseInfo
numpy
openpyxl
packaging
pandas
pefile
pluggy
PyAutoGUI
pydantic
pydantic_core
PyGetWindow
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
pyperclip
PyRect
PyScreeze
pytest
python-dateutil
python-dotenv
pytweening
pytz
pywin32-ctypes
setuptools
six
typing-inspection
typing_extensions
tzdata
