name: Multi-Architecture Python Build

on: 
  push: 
    branches: main
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    strategy:
      matrix:
        arch: [x64, x86]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python [${{ matrix.arch }}]
        uses: actions/setup-python@v5
        with:
          architecture: ${{ matrix.arch }}

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install Dependencies
        run: |
          uv sync
          ./.venv/Scripts/pyinstaller.exe main.py --onefile --name ${{secrets.APP_NAME}} --noconsole
          
      - name: Upload Artifact for ${{ runner.os }} ${{ matrix.arch }}
        uses:
          actions/upload-artifact@v4
        with:
          name: PythonWindows${{ matrix.arch }}
          path: dist/${{ secrets.APP_NAME }}.exe
